# --- Node / Strapi ---
node_modules/
.tmp/
build/
.cache/
dist/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Terraform (CRITICAL) ---
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl


node_modules/
.tmp/
build/
.cache/
dist/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*